
/*
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/


/*

#display{
  text-align: right;
}

#drumpads-container{
  font-size: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 15px;
}

#wrapper{ 
  max-width: 600px;
}

@media only screen and (max-device-width: 480px) {
  #wrapper{
    height: 600px; 
    width: 600px; 
  }
  #header{
    font-size-adjust: 1.5;
  }
  #main{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 800px; 
    width: 800px; 
  }

#card{
  width: 500px;
  height: 400px;
}
 
}
*/


