#display{
  text-align: right;
}

#drumpads-container{
  font-size: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 15px;
}

#wrapper{ 
  max-width: 600px;
  margin: auto; 
}

@media only screen and (max-device-width: 480px) {
  #wrapper{
    height: 600px; 
  }
  #drum-machine{
    display: flex; 
    align-items: center;
    justify-content: center;
  }
}



